<%= form_for(@electronic_purse) do |f| %>
  <% if @electronic_purse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@electronic_purse.errors.count, "error") %> prohibited this electronic_purse from being saved:</h2>

      <ul>
      <% @electronic_purse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credit %><br />
    <%= f.text_field :credit %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
